#root {
  /* max-width: 1280px; */
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
}

button {
  margin: 20px;
}

.btn-disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.buttonContainer {
  position: relative;
  width: 500px;
  height: 45px;
}

.hide {
  opacity: 0;
  width: 0;
}

.show {
  opacity: 1 !important;
}

#successMessage {
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.copySvg {
  transition: opacity 0.1s ease-in;
}

.neon:hover {
  color: #255784;
  background: #42aaff;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  border-width: 0;
  transition-delay: 1s;
}

.neon {
  color: white !important;
  font-weight: 600;
  border-color: #42aaff !important;
}

.dark {
  background-color: #111111;
  color: white;
  border-color: white;
}

.light {
  background-color: white;
  color: black;
  border-color: #111111;
}

.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 1em;
  left: 1em;
  color: white;
  border: 2px solid white;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}
.light-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 1em;
  left: 1em;
  color: black;
  border: 2px solid #111111;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}
.lightText {
  color: black;
}

.darkText {
  color: white;
}
textarea {
  border-width: 0;
  outline-width: 0;
  font-size: 1.5rem;
  font-weight: 600;
}
