#root {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
}

button {
  margin: 20px;
  background: transparent;
}

.btn-disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.buttonContainer {
  position: relative;
  max-width: 500px;
  height: 45px;
}

.hide {
  opacity: 0;
  width: 0;
}

.show {
  opacity: 1 !important;
}

#successMessage {
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.copySvg {
  transition: opacity 0.1s ease-in;
}

.dark {
  color: white;
  border-color: white;
}
.darkText {
  color: white;
}
.light {
  color: black;
  border-color: #111111;
}
.lightText {
  color: black;
}

.theme-toggle {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 55px;
  height: 55px;
}
textarea {
  background: transparent;
  border-width: 0;
  outline-width: 0;
  font-size: 1.5rem;
  font-weight: 600;
}
